.contenedorContador {
    width: 100%;
    padding-top: 10px;
    background-color:bisque;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.numero {
    padding: 1rem;
    margin: 1rem;
    font-size: 12rem;
    background-color:bisque;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.agregar {
    padding: 1rem;
    margin: 1rem;
    background-color:bisque;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}