@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Lato:wght@300&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.5rem;
}

.App {
    width: 100%;
    height: 100vh;
    padding-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

html{
	font-size: 62.5%;
}

.logo {
    color: white;
}

div ul li{
    list-style: none;
    margin-right: 8rem;
}

    div ul li a{
        color: white;
        text-decoration: none;
        font-size: 3rem;
        text-transform: uppercase;
    }	

    div ul li a:hover{
        color: grey;
    }

header {
    background-color:brown;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 2rem
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3rem;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 4rem;
	color:brown;
	position: relative;
	top: 2rem;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-weight: bold;
	color:brown;
	padding: 2rem;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-weight: bold;
	color:brown;
	padding: 2rem;
}

.tituloCard {
	padding: 2rem;
}

.buttonGeneral {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 4rem;
	position: relative;
    padding: 0.5rem;
    margin: 0.5rem;
}

.itemlist-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;

}

.itemdetail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

}

.ItemListGeneral {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items:center;
    align-content: center;

}

.itemGeneral {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    border: 2.5px solid #000;
    margin: 2rem;
}

.itemDetailGeneral {
    display: flex;
    justify-content:space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    border: 2.5px solid #000;
    margin: 2rem;
}


.imgCarrito {
    width: 30px;
    height: 30px;
    text-decoration: solid;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}

.carrito {
    width: 40px;
    height: 40px;
    padding: 3px;
    font-size:x-large;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color:blanchedalmond;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 30%;
    
}

.formularioCheckout {
    margin: 2rem 16rem;
	padding: 3rem;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.5rem;
    background-color: blanchedalmond;
    
}

.card {
    text-align: center;
}